# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo

# ======================
# Virtual Environment
# ======================
venv/
.venv/
env/

# ======================
# Environment Variables (VERY IMPORTANT)
# ======================
.env

# ======================
# IDE / Editor Files
# ======================
.vscode/
.idea/

# ======================
# Logs
# ======================
*.log

# ======================
# Testing / Cache
# ======================
.pytest_cache/
.mypy_cache/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# MongoDB / Local DB files (if any)
# ======================
*.lock